*,
*::after,
*::before {
  list-style: none;
  text-transform: none;
  text-decoration: none;
  text-align: none;
  color: #000;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.container--head-box {
  padding-bottom: 40px;
}

.header {
  display: flex;
  height: 10vh;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 20px;
  margin-right: 30px;
}

.header__logo--decor {
  color: #fbac2f;
}

.header__img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.header__button {
  display: flex;
  border: none;
  margin-left: 20px;
}

.header__button:hover, .header__button:focus {
  transform: scale(1.1);
  transition-duration: 250ms;
}

.header__button-btn {
  background-color: #fbac2f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 00.02em;
  cursor: pointer;
  padding: 10px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu__link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.menu__link:hover, .menu__link:focus {
  color: #fbac2f;
  transition-duration: 250ms;
  text-shadow: 0px 6px 19px #ececec;
}

.menu-toggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-toggle__svg:hover, .menu-toggle__svg:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #fbac2f;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .header {
    width: 100%;
    justify-content: center;
  }
  .header__button {
    visibility: hidden;
    position: absolute;
  }
  .menu {
    visibility: hidden;
    position: absolute;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    width: 100%;
    justify-content: center;
  }
  .header__button {
    visibility: hidden;
    position: absolute;
  }
}

.head-box {
  background-image: linear-gradient(to top, #2f303a66, #2f303a66), url(../images/head-box-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%, 50% 50%;
  width: 100%;
  padding: 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.head-box__title {
  font-size: 40px;
  line-height: 1.36;
  color: #fbac2f;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 600px;
  margin-bottom: 50px;
}

.head-box__subtitle {
  font-size: 20px;
  line-height: 1.36;
  color: #FFF;
  font-weight: 300;
  text-transform: uppercase;
  max-width: 800px;
}

.container--we-do {
  max-width: 1200px;
  padding-bottom: 40px;
}

.we-do {
  width: 100%;
}

.we-do__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 0 60px;
}

.we-do__item {
  width: 300px;
}

.we-do__card-img {
  display: block;
  max-width: 300px;
  height: 200px;
  width: 100%;
  border-radius: 15px;
}

.we-do__card-desc {
  width: 100%;
  padding: 0 10px;
  justify-content: space-between;
  display: flex;
  margin: 10px 0;
  align-items: center;
  padding: 15px;
}

.we-do__card-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}

.we-do__card-button {
  border: none;
  background-color: #fbac2f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 00.02em;
  cursor: pointer;
  padding: 12px 12px;
}

.we-do__card-button:hover, .we-do__card-button:focus {
  transform: scale(1.1);
  transition-duration: 250ms;
}

.we-do__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  padding-bottom: 50px;
}

.container-highlight {
  background-color: #F5F4FA;
}

.highlight__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  padding: 50px 0;
}

.highlight__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

.highlight__item {
  justify-content: space-between;
  margin-bottom: 40px;
}

.highlight__element {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 300px;
}

.highlight__icon {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.highlight__icon:hover, .highlight__icon:focus {
  fill: #fbac2f;
  transform: scale(1.1);
  transition-duration: 250ms;
}

.highlight__icon-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.highlight__icon-subtitle {
  font-weight: 300;
  font-size: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .highlight__list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .highlight__list {
    flex-direction: row;
  }
}

.contact {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact__title {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
}

.contact__desc {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
}

.contact__button {
  background-color: #fbac2f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 00.02em;
  cursor: pointer;
  padding: 18px 0;
}

.contact__button:hover, .contact__button:focus {
  transform: scale(1.1);
  transition-duration: 250ms;
}

/* ===== Footer styles ===== */
.footercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  text-align: center;
}

.footer {
  background-color: #154c79;
  padding: 60px 0;
}

.footer__img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.footer__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  margin-bottom: 20px;
}

.footer__link {
  color: #FFF;
}

.footer__link--decor {
  color: #fbac2f;
}

.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #FFF;
}

.footer__address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-link:hover, .footer__address-link:focus {
  color: #fbac2f;
}

.footer__map {
  padding-bottom: 40px;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.footer__bottom-text {
  color: #fff;
}

.footer__bottom-company {
  color: #fff;
  font-weight: 700;
}

.footer__bottom-decor {
  color: #fbac2f;
}

.footer__bottom-coder {
  font-weight: 700;
  color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footercontent {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 200px;
    align-items: center;
    margin: 0px auto;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footercontent {
    flex-direction: row;
    gap: 200px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
  }
}

/* ===== End Footer styles ===== */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #000;
}

.mobile-menu__lists {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-self: flex-start;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  color: #000;
  text-decoration: none;
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fbac2f;
}

.mobile-menu__link--blue {
  color: #fbac2f;
}

.mobile-menu__contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.mobile-menu__contacts-elem {
  text-decoration: none;
}

.mobile-menu__email {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #757575;
}

.mobile-menu__email:hover, .mobile-menu__email:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fbac2f;
  cursor: pointer;
}

.mobile-menu__telephone {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: #757575;
  cursor: pointer;
}

.mobile-menu__telephone:hover, .mobile-menu__telephone:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fbac2f;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */