*,
*::after,
*::before {
    list-style: none;
    text-transform: none;
    text-decoration: none;
    text-align: none;
    color: #000;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    flex-direction: column;
    margin: auto;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
}

.container {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}