.container {
    &-highlight {
        background-color: $highlight-background;
    }
}

.highlight {
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.166;
        text-align: center;
        padding: 50px 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 auto;
    }

    &__item {
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__element {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        max-width: 300px;
    }

    &__icon {
        width: 70px;
        height: 70px;
        margin-bottom: 20px;

        &:hover,
        &:focus {
            fill: $font-color-decor;
            transform: scale(1.1);
            transition-duration: 250ms;
        }


        &-title {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 20px;
        }

        &-subtitle {
            font-weight: 300;
            font-size: 16px;

        }
    }
}

@media screen and (min-width: 360px) and (max-width: 767px) {}


@media screen and (min-width: 768px) and (max-width: 1199px) {

    .highlight {
        &__list {
            flex-direction: row;

        }
    }
}

@media screen and (min-width: 1200px) {
    .highlight {
        &__list {
            flex-direction: row;

        }
    }
}